@model OA.Core.Dto.OrderDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<form asp-action="Create" class="col-md-12">
<div class="row">

    <div class="col-md-3">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer" class="control-label"></label>
                <input asp-for="Customer" class="form-control" />
                <span asp-validation-for="Customer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>


    </div>
		<div class="col-md-9">
			<table class="table">
				<thead>
					<tr>
						<th>
							ItemNo
						</th>
						<th>
							Description
						</th>
						<th>
							Quantity
						</th>
						<th>
							Price
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.OrderDetails)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.ItemNo)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Description)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Quantity)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Price)
							</td>
							<td>
								<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
								<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
								<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>



</div>
</form>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
