@model OA.Core.Models.Order
@inject IHtmlLocalizer<OrdersController> HtmlLocalizer
@{
    ViewData["Title"] = "Edit";
}

<h1>@HtmlLocalizer["Edit"]</h1>

<h4>@HtmlLocalizer["Orders"]</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
				<label asp-for="Customer" class="control-label">@HtmlLocalizer["Customer"]</label>
                <input asp-for="Customer" class="form-control" />
                <span asp-validation-for="Customer" class="text-danger"></span>
            </div>
            <div class="form-group">
				<label asp-for="Date" class="control-label">@HtmlLocalizer["Date"]</label>
                <input asp-for="Date" culture="ar-SA" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
				<label asp-for="Address" class="control-label">@HtmlLocalizer["Address"]</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
				<label asp-for="Phone" class="control-label">@HtmlLocalizer["Phone"]</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />


			<table class="table">
				<thead>
					<tr>
						<th>
							@HtmlLocalizer["ItemNo"]
						</th>
						<th>
							@HtmlLocalizer["Description"]
						</th>
						<th>
							@HtmlLocalizer["Quantity"]
						</th>
						<th>
							@HtmlLocalizer["Price"]
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.OrderDetails)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.ItemNo)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Description)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Quantity)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Price)
							</td>
							<td>
								<a asp-action="Edit" asp-route-id="@item.Id">@HtmlLocalizer["Edit"]</a> |
								<a asp-action="Details" asp-route-id="@item.Id">@HtmlLocalizer["Details"]</a> |
								<a asp-action="Delete" asp-route-id="@item.Id">@HtmlLocalizer["Delete"]</a>
							</td>
						</tr>
					}
				</tbody>
			</table>


            <div class="form-group">
				<input type="submit" value="@HtmlLocalizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
